@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
*{
  margin: 0;
  padding: 0;
}
.card-container{
  height: 420px;
  width: 360px;
  border-radius: 7px;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 15px;
  
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
}
.slider-card img {
  width: 50%;
  height: 50%;
  border-radius: 5px 5px 0px 0px;
}
.text-edit{
  color: black;
  font-size: 22px;
  margin-top: 30px;
  margin-left: 20px;
  margin-bottom: 10px;
}
.unorder-list{
  display: block;
  list-style: none;
  padding: 0 0 10px 20px;
}
.unorder-list li{
  float: left;
}
.unorder-list span{
  font-size: 11px;
  padding-right: 10px;
  font-weight: 0;
  color: rgb(36, 33, 33);
  letter-spacing: .5px;
  
}
.text-sold{
  color: #f44336;
  font-size: 16px;
}

.logo-frame{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
/* .slide-footer{
  display: grid;
  grid-template-columns: 3fr 1fr;
} */
.slide-footer-text{
  margin-left: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.negociate-price{
  display: flex;
}
.price-now{
  color: #5ad235;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}
.cut-price{
  text-decoration: line-through;
  color: #616161;
  font-weight: 400;
  display: flex;
  vertical-align: middle;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
}
.priceoff{
  color: #5ad235;
  font-size: 13px;
  font-weight: 400;
  display: inline-block!important;
  margin-left: 5px;
  vertical-align: middle;
  text-transform: uppercase;
  line-height: 1;
  position: relative;
  bottom: 8px;
}
.emi{
  font-size: 9px;
  line-height: 12px;
  font-style: italic;
  font-weight: normal;
  padding-top: 2px;
  letter-spacing: normal;
  color: #959595;
  text-transform: capitalize;
  position: relative;
  bottom: 10px;
}
.slider-button button{
    padding: 0 2px;
    white-space: normal;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    background: #e6c600;
    border: 1px solid transparent;
    border-radius: 7px;
    position: relative;
    right: 10px;
    top: 10px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.buttons .fbutt{
  padding: 15px 2px;
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  line-height: 1.2;
  font-size: 12px;
  background-color: white;
  border-top: 1px solid rgb(63, 59, 59);
  border-right: 1px solid rgb(63, 59, 59);
  border-left: none;
  border-bottom: none;
}
/* .buttons .lbutt{
  padding: 0 2px;
  white-space: normal;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  background: #e6c600;
  border: 1px solid transparent;
  border-radius: 7px;
  position: relative;
  right: 10px;
  top: 10px;
} */
.buttons .lbutt{
  padding: 15px 2px;
  white-space: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  line-height: 1.2;
  font-size: 12px;
  background: #e6c600;
  border: none;
  font-weight: 600;
}
.rating-area{
  height: 20px;
  width: 125px;
  margin: 10px auto;
  margin-top: 20px;
  padding-bottom: 5px;
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  background-color: rgb(238, 134, 49);
}
.rating{
  margin: 0 10px;
  padding: 1px;
  height: 20px;
  font-size: 11px;
  width: 40%;
  border-right: 1px solid black;
  
}
.rating-reviews{
  padding: 1px;
  height: 20px;
  font-size: 11px;
  width: 60%;
}